* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: #000 solid 2px; */
}


/* .char__container {
    position: relative;
    width: 100%;
}

.char__container img {
    width: 100%;
    height: 100%;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
} */

.container {
    position: relative;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.character__bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-position: center;
    background-size: cover;
    transform-origin: center;
    width: 100%;
    height: 100%;
}

.character__bg img {
    width: 100%;
    height: 100vh;
}

.character {
    position: relative;
    width: 25%;
    overflow: hidden;
    font-size: 12px;
}

.character__sidebar {
    position: relative;
    z-index: 9;
    top: 0;
    left: 0;
    width: 370px;
    height: 100%;
    box-sizing: border-box;
    margin-left: 35px;
    list-style: none;
}

.character__city {
    width: 100%;
    height: 54px;
    line-height: 54px;
    font-size: 18px;
    color: #fff;
    padding-left: 55px;
    text-shadow: 0 2px 6px rgb(0 0 0/20%);
    box-sizing: border-box;
    background: url(/assets/img/sub-menu.png) left center no-repeat;
    background-size: 40px;
    user-select: none;
    z-index: 1;
}

.sub-char {
    margin-left: 17px;
}

.sub-char:hover {
    text-shadow: 0 0 10px #69e0ff, 0 0 20px #69e0ff, 0 0 40px #69e0ff;
}

.character__city--active:hover {
    text-shadow: 0 0 10px #69e0ff, 0 0 20px #69e0ff, 0 0 40px #69e0ff;
    border-bottom: #69e0ff solid 2px;
    border-right: #69e0ff solid 2px;
    width: 300px;
}
.character__city--active {
    color: #fff;
    border-radius: 10px;
}


.character__city a {
    display: inline-block;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 2px;
    text-decoration: none;
    width: 75%;
    height: 100%;
}

.character__city--active {
    text-shadow: none;
    padding-left: 70px;
    background-size: cover;
    background: url(/assets/img/menu.png) left center no-repeat;
}

.warpper {
    z-index: 1;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-between;
}

.image {
    width: 106px;
    height: 106px;
    overflow: hidden;
    border-radius: 4px;
    margin: 20px 0;
    background: rgba(0, 0, 0, 0.3);
}

img {
    width: 106px;
    height: 106px;
    object-position: center;
    object-fit: cover;
    transition: 0.25s;
    cursor: pointer;
}

.image:hover img {
    transform: scale(1.2);
}

.gallery {
    z-index: 99;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(50, 50, 50, 0.6);
    display: flex;
    align-items: center;
    color: white;
    opacity: 0;
    pointer-events: none;
    transform: scale(0.8);
    transition: 0.5s;
}

.gallery__inner {
    width: 85%;
    height: 80%;
    margin: 0 auto;
}

.gallery__inner img {
    width: 1100px;
    height: 650px;
}

.close {
    position: fixed;
    top: 15px;
    right: 25px;
    font-size: 35px;
    cursor: pointer;
}

.control {
    font-size: 35px;
    color: rgba(255,255,255,0.8);
    position: absolute;
}

.control.prev {
    left: 15px;
    cursor: pointer;
}
.control.prev img,
.control.next img {
    width: 50px;
    height: 35px;
}

.control.next {
    right: 15px;
    cursor: pointer;
}

.show {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}

.hide {
    display: none;
}
