@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,400&display=swap');

* {
    padding: 0;
    margin: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #21D4FD;
    background-image: linear-gradient(168deg, #000000 12%, #B721FF 35%, #118a92 56%, #c69c9c 72%, #000123 92%);
}

::-webkit-scrollbar-thumb{
    background-color: #3EECAC;
    background-image: linear-gradient(161deg, #3EECAC 8%, #a96767 31%, #c437ac 45%, #0c1574 61%, #EE74E1 74%, #ccc351 92%);
}

input,
textarea,
select,
button {
    outline: none;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    line-height: normal;
}

input {
    line-height: normal;
}

label,
button {
    cursor: pointer;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

ul {
    list-style: none;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    line-height: 1;
    background-color: #fff;
    color: #ccc;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    max-width: 1920px;
}

.warpper {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-gap: 0;
    background-color: #fcfcfe;
    min-height: 100vh;
}

.sidebar {
    display: flex;
    flex-direction: column;
    padding: 30px;
    /* background-color: #fff; */
    background: #649173;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #DBD5A4, #649173);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #DBD5A4, #649173); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.profile {
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    text-align: center;
    padding: 10px 0;
    border-radius: 20px;
    margin-bottom: 70px;
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 7%, #9b548e 29%, #9599E2 45%, #59bab0 72%, #d97878 90%);
    box-shadow: 0 2px 9px rgba(35, 14, 14, 0.8);
}

.profile span {
    color: #D9D7F1;
}

.profile-img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    object-fit: cover;
    margin: 0 auto 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: 0.25s;
}

.profile-img:hover {
    transform: scale(1.2);
}

.profile-footer {
    position: sticky;
    position: -webkit-sticky;
    top: 425px;
}

.profile-footer-img {
    margin-top: 50px;
    border-radius: 20px;
}

.profile-title {
    font-weight: 600;
    font-size: 18px;
    color: #000;
    margin-bottom: 10px;
}

.menu {
    position: sticky;
    position: -webkit-sticky;
    top: 190px;
    background: #abbaab;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #ffffff, #abbaab);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #ffffff, #abbaab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.menu-item {
    margin-bottom: 20px;
}

.menu-link {
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 16px;
    color: #000;
    transition: 0.25s;
}

.menu-link:hover {
    color: #7a3be7;
    transform: scaleY(1.2);
}

.menu-icon {
    width: 20px;
    margin-right: 15px;
}

.main {
    padding: 30px 35px 0;
}

.main.dark {
    background: #303234;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.search {
    padding: 15px 30px;
    border: 2px solid #e9ebf2;
    border-radius: 100px;
    display: flex;
    align-items: center;
    width: 100%;    
    max-width: 400px;
}

.main.dark .search {
    border: 2px solid #414444;
}

.search-icon {
    font-size: 16px;
    flex: 1;
    color: #31344b;
    cursor: pointer;
    margin-right: 10px;
}

.main.dark .search-icon {
    color: #e3edf7;
}

.search-input {
    outline: none;
    border: none;    
    border-radius: 50px;
    padding: 0 15px;
    width: 100%;
}

.main.dark .search-input {
    background: #303234;
    color: #e3edf7;
}

.tool {
    font-size: 18px;
    display: flex;
    align-items: center;
}

.upgrade {
    margin-right: 5px;
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    text-align: center;
    background-color: #284384;
    background-image: linear-gradient(147deg, #284384 12%, #FF2525 49%, #60e5df 100%);
    border-radius: 50px;
    font-size: 12px;
    text-transform: capitalize;
}

.main.dark .upgrade {
    background-color: #000000;
    background-image: linear-gradient(161deg, #000000 4%, #6284FF 41%, #FF0000 67%, #000000 97%);
}

.tool-icon,
.toggle {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    border-radius: 50%;
    color: #31344b;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
    border: 2px solid #e3edf7;
    transition: all .3s linear;
    -moz-transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    cursor: pointer;
}

.toggle.theme {
    margin-right: 10px;
}

.tool-icon:hover {
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.7), inset 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    inset -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}

.main.dark .tool-icon, .main.dark .toggle {
    color: #e3edf7;
    border: 2px solid #303234;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.3),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.1);
}

.main.dark .tool-icon:hover {
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.7), inset 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    inset -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}

.main.dark .toggle {
    color: #e3edf7;
    border: 2px solid #303234;
}

.main.dark .toggle_theme {
    color: #e3edf7;
}

.toggle_theme {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #303234;
    font-size: 20px;
}

.toggle:hover {
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.7), inset 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    inset -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}

.link-item {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 0 10rem;
    margin-bottom: 40px;
    line-height: 1.4;
    z-index: 999999999;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #ffffff;
    background-image: linear-gradient(135deg, #ffffff 15%, #FF3CAC 30%, #784BA0 50%, #2B86C5 71%, #ffffff 87%);    
}

.main.dark .link-item {
    background-color: #ffffff;
    background-image: linear-gradient(135deg, #303234 15%, #712851 30%, #784BA0 50%, #2b5c7e 71%, #303234 87%); 
}

.link-song {
    font-size: 20px;
    color: #e3edf7;
    padding: 0 10px;
}

.link-song.bg-song {
    font-size: 20px;
    color: #e3edf7;
    border-radius: 20px;
    border: 2px solid #A9C9FF;
    background-color: #A9C9FF;
    background-image: linear-gradient(180deg, #A9C9FF 0%, #FFBBEC 100%);
    box-shadow: 0 0 5px 5px rgba(100, 100, 111, 0.2);
}

.main.dark .link-song.bg-song {
    background-color: #464444;
    background-image: linear-gradient(180deg, #464444 12%, #9599E2 53%, #8BC6EC 71%, #3c3c3c 95%);
}

.hover-song:hover {
    color: #BEAEE2;
}

.link-song.pd-song {
    padding: 0;
}

.block-box {
    margin-bottom: 30px;
}

.heading {
    font-size: 25px;
    color: #000;
    margin-bottom: 15px;
    font-weight: 600;
    text-transform: capitalize;
}

.main.dark .heading {
    color: #e3edf7;
}

.count {
    font-weight: 600;
}

.billboard-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 25px;
    margin-bottom: 40px;
}

.billboard-media {
    position: relative;
}

.billboard-img {
    width: 100%;
    height: 270px;
    border-radius: 20px;
    object-fit: cover;
    margin-bottom: 30px;
    position: relative;
    z-index: 2;
}

.main.dark .billboard-img {
    box-shadow: -6px -6px 10px 1px rgba(0, 0, 0, 0.15),
    6px 6px 10px -1px rgba(255, 255, 255, 0.7);
}

.billboard-img-shadow {
    position: absolute;
    top: 20px;
    left: 0;
    filter: blur(20px);
    width: 100%;
    height: 100%;
    border-radius: 20px;
    transform: scale(0.85);
}

.title {
    margin-bottom: 10px;
    color: #000;
    font-weight: 600;
    text-transform: capitalize;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient:vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    line-height: 1.4;
}

.main.dark .title {
    color: #e3edf7;
}

.author {
    text-transform: capitalize;
    color: #abbaab;
}

.content {
    display: grid;
    grid-template-columns: 2fr 1.2fr;
    grid-gap: 25px;
}

.song {
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
}

.main.dark .song {
    background-color: #303234;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -6px rgba(255, 255, 255, 0.7);
}

.song *:not(.song-love) {
    pointer-events: none;
}

.song-list {
    padding: 10px;
    max-height: 420px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.song-list::-webkit-scrollbar {
    /* display: none; */
    background-color: #FAACA8;
    background-image: linear-gradient(160deg, #FAACA8 0%, #DDD6F3 50%, #89d2ca 89%);
}

.song-list::-webkit-scrollbar-thumb {
    background-color: #FF3CAC;
    background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
}

.main.dark .song-index,
.main.dark .song-title {
    color: #e3edf7;
}

.song-index {
    font-weight: bold;
    color: #000;
    margin-right: 15px;
}

.song-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    flex-shrink: 0;
}

.song-play {
    margin: 0 15px;
}

.song-title {
    font-weight: 600;
    font-size: 16px;
    color: #000;
}

.song-album {
    font-weight: 400;
    font-size: 14px;
    margin-left: auto;
}

.song-time {
    margin: 0 auto;
    font-weight: 400;
    font-weight: 600;
}

.song-love {
    cursor: pointer;
    font-size: 16px;
}

.song-love input {
    display: none;
}

.song-love input:checked + .song-heart {
    color: #da4848;
}

.player {
    background-color: #fff;
    padding: 20px;
    border-radius: 12px 12px 0 0;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.main.dark .player {
    background-color: #303234;
}

.player-box {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    border-radius: 20px;
    max-width: 300px;
    margin: 0 auto 30px;
}

.main.dark .player-box {
    box-shadow: 6px 6px 10px -1px rgba(255, 255, 255, 0.7), 
    -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}

.player-media {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 1000px;
    margin-bottom: 25px;
}

.player-media:before {
    content: '';
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.player-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}

.player-img.is-playing {
    animation: rotate 10s forwards infinite linear;
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}

.player-title.title {
    width: 100%;
    align-self: stretch;
}

.progress {
    margin-bottom: 20px;
    margin-top: 25px;
}

.player-number {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.player-tool {
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-play {
    color: #2b48d9;
    width: 45px;
    height: 45px;
    border-radius: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #fff;
    box-shadow: 0 0 0 10px rgba(50, 137, 224, 0.5);
    font-size: 16px;
    margin: 0 30px;
}

.player-next,
.player-prev {
    cursor: pointer;
    font-size: 16px;
}

.progress {
    width: 100%;
    position: relative;
}

.bar {
    -webkit-appearance: none;
    width: 100%;
    height: 3px;
    background-color: #d3d3d3;
    outline: none;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}

.bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 1000px;
    background-color: #2b48d9;
    box-shadow: 0 0 0 5px #fff, 0 0 0 6px #ccc;
}

.bar::-moz-range-thumb {
    cursor: pointer;
    width: 10px;
    height: 10px;
    border-radius: 100rem;
    background-color: #2b48d9;
    box-shadow: 0 0 0 5px #fff, 0 0 0 6px #ccc;
}

/* media */

@media screen and (max-width: 1279px) {
    .sidebar {
        /* display: none; */
    }
    .profile {
        /* display: none; */
        position: unset;
        border-radius: 0;
    }

    .menu {
        position: unset;
        /* display: none; */
        display: flex;
        justify-content: center;
    }

    .profile-footer {
        text-align: center;
    }

    .profile-footer-img {
        width: 200px;
        border-radius: 50%;
        margin: 20px auto 0;
    }

    .warpper {
        display: block;
    }

    .content {
        grid-template-columns: 100%;
        grid-row-gap: 50px;
    }

    .header {
        display: grid;
        grid-template-columns: 100%;
        grid-gap: 30px 0;
    }
}

@media screen  and (max-width: 1023px) {
    .profile-footer {
        position: unset;
    }

    .menu {
        position: unset;
    }

    .toggle.theme {
        margin-top: 10px;
    }

    .billboard-list {
        display: grid;
        justify-content: flex-start;
        grid-auto-columns: 60%;
        grid-auto-flow: column;
        grid-gap: 20px;
        overflow: auto;
        overflow-y: hidden;
        scroll-snap-type: x mandatory;
        scroll-snap-stop: always;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        -webkit-overflow-scrolling: touch;
        scroll-padding: 1rem;
        padding: 20px;
        grid-template-columns: unset;
    }

    .billboard-list::-webkit-scrollbar {
        display: none;
        width: 0;
    }

    .billboard-list > * {
        scroll-snap-align: start;
    }
    .song-list {
        max-height: unset;
        max-width: unset;
        padding: 0;
    }

    .main {
        padding: 20px 20px 0;
    }

    .song-list {
        max-height: unset;
        overflow: unset;
        padding: 0;
    }

    .song-title,
    .song-album {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-word;
        max-width: 100px;
    }

    .song-album {
        max-width: 50px;
    }

    .heading {
        font-size: 20px;
    }

    .title {
        font-size: 14px;
    }

    .author {
        font-size: 12px;
    }
}

@media screen and (max-width: 800px) {
    .toggle.theme {
        margin-top: 24px;
    }
    
    .toggle_theme {
        font-size: 22px;
    }
}

@media screen  and (max-width: 723px) {
    .profile-footer {
        position: unset;
    }

    .toggle.theme {
        margin-left: 50px;
    }
    
    .toggle_theme {
        font-size: 24px;
    }

    .menu {
        position: unset;
        display: grid;
        grid-template-columns: 2fr 2fr;
        padding: 0 75px;
    }

    .link-item {
        display: grid;
        grid-template-columns: 2fr 2fr;
        padding: 0 75px;
    }
}