@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');

:root {
    --yellow:#ffcc0d;
    --black:#000;
    --white:#fff;
    --light-bg:#eee;
    --border-bold: .5rem solid var(--black);
    --border-light: .2rem solid var(--black);
}

* {
    font-family:'Rubik', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: none;
    color: var(--black);
}

*::selection {
    background-color: var(--black);
    color: var(--yellow);
}

*::-webkit-scrollbar {
    height: .5rem;
    width: 1rem;
}

*::-webkit-scrollbar-track {
    background-color: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--yellow);
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    overflow: hidden;
    transition: .2s linear !important;
}

body.active {
    padding-left: 35rem;
}

.header{
    position: fixed;
    top:0; left: -35rem;
    height: 100vh;
    background-color: var(--white);
    border-right: var(--border-bold);
    width: 35rem;
    padding:3rem 2rem;
    text-align: center; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: column;
    transition: .4s linear !important;
    text-align: center;
    z-index: 1000;
}

.header .logo{
    text-transform: uppercase;
    border-bottom: var(--border-bold);
    font-weight: bolder;
    font-size: 4.5rem;
}

.header .navbar{
    width: 100%;
}

.header .navbar a{
    display: block;
    font-size: 2.5rem;
    padding:1.5rem;
    margin:.5rem;
    text-transform: capitalize;
}

.header .navbar a.active,
.header .navbar a:hover{
    background-color: var(--yellow);
}

.header .follow a{
    font-size: 3rem;
    margin:0 1rem;
    cursor: pointer;
    transition: .6s linear !important;
}

.header .follow a:hover{
    transform: rotate(360deg);
}

#menu-btn {
    position: absolute;
    top: 0;
    right: -5.5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    width: 5rem;
    font-size: 25px;
    cursor: pointer;
    background-color: var(--black);
    color: var(--white);
}

#menu-btn:hover {
    transform: scale(1.2);
    transition: .2s linear !important;
}

.header.active {
    left: 0;
    transition: .4s linear !important;
}








@media (max-width: 991px) {
    html {
        font-size: 55%;
    }

    body.active {
        padding-left: 0;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }

    .header.active {
        padding-top: 7rem;
    }

    #menu-btn.fa-times {
        right: 0;
    }
}

