@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700&display=swap');

:root {
    --yellow:#5EE6EB;
    --black:#000;
    --white:#fff;
    --light-bg:#eee;
    --border-bold: .5rem solid var(--black);
    --border-light: .2rem solid var(--black);
    --border-bold-dark: .5rem solid var(--white);
    --border-dark: .2rem solid var(--white);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: none;
    color: var(--black);
}

*::selection {
    background-color: var(--black);
    color: var(--yellow);
}

*::-webkit-scrollbar {
    height: .5rem;
    width: 1rem;
}

*::-webkit-scrollbar-track {
    background-color: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--yellow);
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    font-family:'Rubik', sans-serif;
    overflow: hidden;
    transition: .2s linear !important;
}

body.active {
    padding-left: 35rem;
}

section {
    padding: 3rem 2rem;
    margin: 0 auto;
    max-width: 1200px;
    text-align: center;
}

.main.dark {
    background: var(--black);
}

.page.dark {
    background: var(--black);
}

.heading {
    margin-bottom: 3rem;
    text-align: center;
}

.heading span {
    text-transform: uppercase;
    font-size: 6.5rem;
    border-bottom: var(--border-bold);
}

.main.dark .heading span {
    border-bottom: var(--border-bold-dark);
    color: var(--white);
}

.message {
    position: sticky;
    top: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    background-color: var(--yellow);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
}

.btn {
    display: inline-block;
    margin-top: 1rem;
    cursor: pointer;
    padding: 1rem 3rem;
    border: var(--border-light);
    font-size: 2rem;
    background: none;
    text-transform: capitalize;
    border-radius: 5px;
}

.main.dark .btn {
    border: var(--border-dark);
    color: var(--white);
    box-shadow: -6px -6px 6px -1px rgba(0, 0, 0, 0.15),
    6px 6px 6px -1px rgba(255, 255, 255, 0.7);
}

.btn:hover {
    background-color: var(--black);
    color: var(--white);
}

.main.dark .btn:hover {
    background-color: var(--white);
    color: var(--black);
}

.header{
    position: fixed;
    top:0; left: -35rem;
    height: 100vh;
    background-color: var(--white);
    border-right: var(--border-bold);
    width: 35rem;
    padding:3rem 2rem;
    text-align: center; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: column;
    transition: .4s linear !important;
    text-align: center;
    z-index: 1000;
}

.page.dark .header {
    background-color: var(--black);
    border-right: var(--border-bold-dark);
}

.header .logo {
    text-transform: uppercase;
    border-bottom: var(--border-bold);
    font-weight: bolder;
    font-size: 4.5rem;
}

.page.dark .header .logo {
    border-bottom: var(--border-bold-dark);
    color: var(--white);
}

.header .navbar {
    width: 100%;
}

.header .navbar a {
    display: block;
    font-size: 2.5rem;
    padding:1.5rem;
    margin:.5rem;
    text-transform: capitalize;
}

.page.dark .header .navbar a {
    color: var(--white);
}

.header .navbar a.active,
.header .navbar a:hover {
    background-color: var(--yellow);
}

.header .follow a {
    font-size: 3rem;
    margin:0 1rem;
    cursor: pointer;
    transition: .6s linear !important;
}

.page.dark .header .follow a {
    color: var(--white);
}

.header .follow a:hover {
    transform: rotate(360deg);
}

.circle-loading2 {
    display: inline-flex;
    animation: loading2 1s infinite;
}

.circle-loading2 div {
    width: 30px;
    height: 30px;
    border: 1px solid linear-gradient(225deg, #FF3CAC 24%, #784BA0 48%, #1aabdd 79%);
    background-color: #FF3CAC;
    background-image: linear-gradient(225deg, #FF3CAC 24%, #784BA0 48%, #1aabdd 79%);
    border-radius: 50%;
    margin: 0 5px;
}

@keyframes loading2 {
    50% {
        transform: rotate(200deg);
    }

    75% {
        transform: rotate(160deg);
    }

    100% {
        transform: rotate(180deg);
    }
}

#menu-btn {
    position: absolute;
    top: 0;
    right: -5.4rem;
    height: 4.5rem;
    line-height: 4.5rem;
    width: 5rem;
    font-size: 25px;
    cursor: pointer;
    background-color: var(--black);
    color: var(--white);
}

.page.dark #back-btn,
.page.dark .toggle-btn,
.page.dark .toggle-btn i,
.page.dark #menu-btn {
    background-color: var(--white);
    color: var(--black);
}

.toggle-btn {
    position: absolute;
    top: 0;
    right: -10.4rem;
    height: 4.5rem;
    line-height: 4.5rem;
    width: 5rem;
    font-size: 25px;
    cursor: pointer;
    background-color: var(--black);
}

.toggle-btn i {
    color: var(--white);
}

#back-btn {
    position: absolute;
    bottom: 0;
    right: -5.4rem;
    height: 4.5rem;
    line-height: 4.5rem;
    width: 5rem;
    font-size: 25px;
    cursor: pointer;
    background-color: var(--black);
    color: var(--white);
}

.toggle-btn:hover,
#back-btn:hover,
#menu-btn:hover {
    border: 1px solid var(--white);
    transform: scale(1.02);
    transition: .2s linear !important;
}

.header.active {
    left: 0;
    transition: .4s linear !important;
}

.page.dark .header.active {
    background-color: var(--black);
}

.home {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    min-height: 100vh;
}

.home .image {
    flex: 1 1 40rem;
}

.home .image img {
    height: 65rem;
    padding: 2rem;
    border-radius: 5px;
    border: var(--border-bold);
}

.main.dark .home .image img {
    border: var(--border-bold-dark);
    box-shadow: -6px -6px 6px -1px rgba(0, 0, 0, 0.15),
    6px 6px 6px -1px rgba(255, 255, 255, 0.7);
}

.home .content {
    flex: 1 1 40rem;
}

.home .content .current-time {
    padding-bottom: 15rem;
    border-radius: 5px;
    margin: 5px 70px;
    box-shadow: 0px 0px 6px 2px #d9d6d5;
    border: var(--border-bold);
    transition: .2s all linear;
}

.main.dark .home .content .current-time {
    border: var(--border-bold-dark);
    box-shadow: -6px -6px 6px -1px rgba(0, 0, 0, 0.15),
    6px 6px 6px -1px rgba(255, 255, 255, 0.7);
}

.current-time h1 {
    font-size: 22px;
    margin: 10px 0;
}

.main.dark .current-time #date b,
.main.dark .current-time #date,
.main.dark .home .content .current-time h1 {
    color: var(--white);
}

.current-time #date {
    font-size: 20px;
    margin-bottom: 15px;
    border: #000;
    color: #333;
}
.content #hvn {
    font-family:'Orbitron', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content #hvn div {
    position: relative;
    margin: 0 5px;
    -webkit-box-reflect: below 10px linear-gradient(transparent, #0008);
}

.content #hvn div span {
    position: relative;
    display: block;
    font-size: 1.2rem;
    font-weight: 300;
    margin: 1rem 0;
    padding: 1rem 2rem;
    border-radius: 5px;
    background: #f2f4ff;
    box-shadow: -6px -6px 6px -1px rgba(0, 0, 0, 0.15),
    6px 6px 6px -1px rgba(255, 255, 255, 0.7);
    z-index: 3;
}

.main.dark .content #hvn div span {
    background: var(--black);
    color: var(--white);
}

.content #hvn span:nth-child(1) {
    height: 4rem;
    font-size: 1.6rem;
    letter-spacing: 0.3rem;
    z-index: 2;
    box-shadow: none;
    background:#f2f4ff;
    text-transform: uppercase;
    box-shadow: -6px -6px 6px -1px rgba(0, 0, 0, 0.15),
    6px 6px 6px -1px rgba(255, 255, 255, 0.7);
}

.content #hvn div:last-child span {
    background: #f2f4ff;
}

.content #hvn div:last-child span:nth-child(1) {
    background: #f2f4ff;
}

.main.dark .content #hvn div:last-child span:nth-child(1) {
    background: var(--black);
}

.home .content h3 {
    text-transform: uppercase;
    font-size: 5rem;
    margin-bottom: 0.5rem;
}

.home .content > span {
    display: inline-block;
    padding: 1rem 2rem;
    background-color: var(--yellow);
    font-size: 2.5rem;
    margin: 1rem 0;
    border-radius: 5px;
}

.main.dark .home .content p,
.main.dark .home .content h3 {
    color: var(--white);
    
}

.home .content p {
    font-size: 1.7rem;
    line-height: 2;
    padding: 1rem 0;
}

.about .biography p {
    margin: 2rem auto;
    max-width: 70rem;
    line-height: 2;
    font-size: 1.8rem;
}

.main.dark .about .biography p {
    color: var(--white);
}

.about .biography .bio {
    margin: 1rem 0;
}

.about .biography .bio h3 {
    padding: 1rem 2rem;
    display: inline-block;
    margin: 1rem;
    background-color: var(--light-bg);
    border: var(--border-light);
    word-break: break-all;
    font-size: 2.5rem;
    font-weight: normal;
    text-transform: none;
    border-radius: 5px;
}

.main.dark .about .biography .bio h3 {
    box-shadow: -6px -6px 6px -1px rgba(0, 0, 0, 0.15),
    6px 6px 6px -1px rgba(255, 255, 255, 0.7);
    border: var(--border-dark);
}

.about .biography .bio h3 span {
    font-weight: lighter;
    text-transform: capitalize;
}

.about .skills {
    margin: 3rem 0;
}

.about .skills .progress {
    margin-top: 1rem;
}

.about .skills .progress .bar {
    margin: 1rem auto;
    max-width: 70rem;
    border: var(--border-bold);
    padding: 1rem;
    border-radius: 5px;
}

.main.dark .about .skills .progress .bar {
    border: var(--border-bold-dark);
    box-shadow: -6px -6px 6px -1px rgba(0, 0, 0, 0.15),
    6px 6px 6px -1px rgba(255, 255, 255, 0.7);
}

.about .skills .progress .bar h3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2rem;
    padding: 1rem 2rem;
    background-color: var(--yellow);
    border-radius: 5px;
}

.about .skills .progress .bar span {
    font-weight: normal;
}

.about .skills .progress .bar:nth-child(1) h3 {
    width: 95%;
}

.about .skills .progress .bar:nth-child(2) h3 {
    width: 85%;
}

.about .skills .progress .bar:nth-child(3) h3 {
    width: 50%;
}


.about .edu-exp .row {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.about .edu-exp .row .box-container {
    flex: 1 1 40rem;
}

.about .edu-exp .row .box-container .title {
    padding: 1.5rem;
    font-size: 3rem;
    background-color: var(--yellow);
    text-transform: capitalize;
    border-radius: 5px;
}

.about .edu-exp .row .box-container .box {
    text-align: left;
    margin: 1.5rem 0;
    background-color: var(--light-bg);
    padding: 2rem;
    border-radius: 5px;
}

.main.dark .about .edu-exp .row .box-container .box {
    box-shadow: -6px -6px 6px -1px rgba(0, 0, 0, 0.15),
    6px 6px 6px -1px rgba(255, 255, 255, 0.7);
}

.about .edu-exp .row .box-container .box span {
    font-size: 1.5rem;
}

.about .edu-exp .row .box-container .box h3 {
    font-size: 2.5rem;
    font-weight: normal;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.about .edu-exp .row .box-container .box p {
    line-height: 1.5;
    font-size: 1.7rem;
    line-height: 2;
    text-transform: capitalize;
}

.services .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
    align-items: flex-start;
}

.services .box-container .box {
    padding: 3rem 2rem;
    border: var(--border-light);
    border-radius: 5px;
}

.main.dark .services .box-container .box {
    border: var(--border-dark);
    box-shadow: -6px -6px 6px -1px rgba(0, 0, 0, 0.15),
    6px 6px 6px -1px rgba(255, 255, 255, 0.7);
}

.services .box-container .box i {
    font-size: 4rem;
    margin-bottom: 2rem;
}

.services .box-container .box h3 {
    margin: 1rem 0;
    font-size: 2rem;
    text-transform: capitalize;
    padding: 1.5rem;
    background-color: var(--yellow);
    /* border: 1px solid var(--yellow);*/
    border-radius: 5px;
    font-weight: normal;
}
.main.dark .services .box-container .box p,
.main.dark .services .box-container .box i {
    color: var(--white);
}

.services .box-container .box h3:before {
    content: '';
    height: 100%;
    width: 0;
    background-color: var(--yellow);
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: -1;
    transition: width 0.25s ease-in;
    border-radius: 5px;
}

.services .box-container .box:hover h3:before {
    width: 100%;
}

.services .box-container .box p {
    line-height: 2;
    font-size: 1.7rem;
}

.services .box-container .box:hover {
    background-color: var(--black);
    transition: .2s all linear;
    transform: scale(1.03);
    border: var(--yellow);
    border-radius: 5px;
}

.main.dark .services .box-container .box:hover {
    border: var(--yellow);
    background-color: var(--white);
}

.services .box-container .box:hover h3 {
    color: var(--white);
    background-color: var(--black);
}

.main.dark .services .box-container .box:hover h3 {
    color: var(--black);
    background-color: var(--white);
}

.services .box-container .box:hover p,
.services .box-container .box:hover i {
    color: var(--white);
}

.main.dark .services .box-container .box:hover p,
.main.dark .services .box-container .box:hover i {
    color: var(--black);
}

.portfolio .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
    align-items: flex-start;
}

.portfolio .box-container .box img {
    height: 30rem;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.main.dark .portfolio .box-container .box img {
    box-shadow: -6px -6px 6px -1px rgba(0, 0, 0, 0.15),
    6px 6px 6px -1px rgba(255, 255, 255, 0.7);
}

.portfolio .box-container .box h3 {
    margin: 1rem 0;
    font-size: 2rem;
    font-weight: normal;
    text-transform: capitalize;
}

.portfolio .box-container .box span {
    font-size: 1.7rem;
}

.main.dark .portfolio .box-container .box h3,
.portfolio .box-container .box span {
    color: var(--white);
}

.contact form {
    max-width: 70rem;
    margin: 0 auto;
}

.contact form .box {
    width: 100%;
    padding: 1.4rem;
    font-size: 2rem;
    text-transform: none;
    border: var(--border-light);
    border-radius: 5px;
    margin: 1rem 0;
}

.main.dark .contact form .box {
    box-shadow: -6px -6px 6px -1px rgba(0, 0, 0, 0.15),
    6px 6px 6px -1px rgba(255, 255, 255, 0.7);
}

.contact form textarea {
    height: 20rem;
    border-radius: 5px;
    resize: none;
}

.contact form .flex {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
}

.contact form .flex .box {
    width: 49%;
}

.contact .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
    align-items: flex-start;
    margin-top: 3rem;
}

.contact .box-container .box {
    padding: 3rem 2rem;
    border-radius: 5px;
    border: var(--border-light);
}

.main.dark .contact .box-container .box {
    border: var(--border-dark);
}

.contact .box-container .box i {
    font-size: 3rem;
    height: 7rem;
    width: 7rem;
    line-height: 7rem;
    color: var(--white);
    background-color: var(--black);
    margin-bottom: .5rem;
    cursor: pointer;
    border-radius: 5px;
}

.main.dark .contact .box-container .box i {
    background-color: var(--white);
    color: var(--black);
}

.contact .box-container .box h3 {
    text-transform: capitalize;
    margin: 1.5rem 0;
    font-size: 2.5rem;
}

.contact .box-container .box p {
    font-size: 2rem;
    text-transform: none;
}

.main.dark .contact .box-container .box h3,
.main.dark .contact .box-container .box p {
    color: var(--white);
}

.credit {
    text-align: center;
    background-color: var(--black);
    padding: 3rem;
    font-size: 2rem;
    color: var(--white);
}

.main.dark .credit {
    color: var(--white);
}

.credit span {
    color: var(--yellow);
}

@media (max-width: 991px) {
    html {
        font-size: 55%;
    }

    body.active {
        padding-left: 0;
    }
}

@media (max-width: 590px) {
    .home .image img {
        height: auto;
        width: 100%;
    }

    .toggle-btn {
        position: absolute;
        top: 40px;
        right: -5.4rem;
        height: 4.5rem;
        line-height: 4.5rem;
        width: 5rem;
        font-size: 25px;
        cursor: pointer;
        background-color: var(--black);
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }

    .header.active {
        padding-top: 7rem;
    }

    #menu-btn.fa-times {
        right: 0;
    }

    .home .image img {
        height: auto;
        width: 100%;
    }

    .heading span {
        font-size: 4rem;
    }

    .about .biography .bio h3 {
        font-size: 2rem;
    }

    .contact form .flex .box {
        width: 100%;
    }

    .toggle-btn {
        position: absolute;
        top: 40px;
        right: -5.4rem;
        height: 4.5rem;
        line-height: 4.5rem;
        width: 5rem;
        font-size: 25px;
        cursor: pointer;
        background-color: var(--black);
    }
}

@media (max-width: 427px) {
    .toggle-btn {
        position: absolute;
        top: 36px;
        right: -5.4rem;
        height: 4.5rem;
        line-height: 4.5rem;
        width: 5rem;
        font-size: 25px;
        cursor: pointer;
        background-color: var(--black);
    }
}

